html,body{overflow: hidden;}
.container{	position: absolute;width: 100%;height: 1040px;display: none;overflow: hidden;}
.container img,
.container div{position: absolute;}


/*图片位置定位*/
.bac{left: 0;top: 0;width: 100%; height: 100%}
.pt-page-1 .index-1_1{left:186px;top: 148px}
.pt-page-1 .index-1_2{left:246px;top: 734px;width: 146px;height: 126px;}
.page1_y1{right:0;top:0;}
.page1_y2{left:0;top:294px}
.page1_y3{right:0;bottom:0}
.page1_hand{left:20px;bottom:38px;}


.pt-page-2 .index-2_1{left:76px;top: 229px}
.pt-page-2 .index-2_2_1{left:45%;top:360px;display: none;}
.pt-page-2 .index-2_2{left:76px;top: 344px}
.pt-page-2 .index-2_2_2{left:45%;top: 479px;display: none;}
.pt-page-2 .index-2_3{left:76px;top:463px;}

.name{position: absolute;left:60px;top: 229px;width: 277px;height: 66px;font-size: 30px;background: transparent;border: none;padding: 0 20px;color: rgb(99,149,159);text-align: center;}
input::-webkit-input-placeholder{
    color: rgb(99,149,159);
    text-align: center;
}
#Splane{
    left:76px;top: 344px;
    width: 277px;height: 66px;
    position: absolute;
    background: transparent;
    border:none;
}
#Uphoto{
    opacity: 0;
    left:76px;top: 463px;
    width: 277px;height: 66px;
    position: absolute;
    background: transparent;
    border:none;
}
#yes{
    left:50%;
    margin-left:-50px;
    top:619px;
    width: 99px;height: 114px;
    position: absolute;
    background: transparent;
    border:none;
}
.pt-page-2 .index-2_4{
    left:50%;
    margin-left:-50px;
    top:619px;
}
#Splane:hover{
    background: rgba(3,3,3,0.1);
}
#Uphoto:hover{
    background: rgba(3,3,3,0.1);
}
#yes:hover{
    transform: scale(1.1);
}

.pt-page-3 .bac{width:100%;height: 100%;}
.pt-page-3 .index-3_2{z-index: 999;}
.pt-page-3 .index-3_3{left: 0;top: 0;}



#index-3_1_2{left:0;top:0;width: 100%;height:1040px;position: absolute;display: none;}
#photo{left:0;top:0;width: 640px;height: 1040px;position: absolute;border: none;}
#background-style{left:0;top:0;width: 640px;height: 1040px;position: absolute;border: none;}
#photo-name{
	position: absolute;
    font-weight: bold;
    text-align: center;
    color: white;
}

.selectPlane{
    display: none;
    z-index: 999;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;
}
.selectPlane .content{
    position: absolute;
    background: url(../images/2_1_1.png) no-repeat;
    width: 100%;
    height: 100%;
}
.selectPlane .close{
    position: absolute;
    left: 510px;
    top: 162px;
    width: 55px;height: 55px;
    background: transparent;
    border:none;
}
.selectPlane .pre{
    position: absolute;
    left: 73px;
    top: 415px;
    width: 56px;height: 105px;
    background: transparent;
    border:none;
}
.selectPlane .next2{
    position: absolute;
    left: 513px;
    top: 415px;
    width: 56px;height: 105px;
    background: transparent;
    border:none;
}
.selectPlane .ok3{
    position: absolute;
    left: 134px;
    top: 774px;
    width: 174px;height: 63px;
    background: transparent;
    border:none;
}
.selectPlane .cancel{
    position: absolute;
    left: 327px;
    top: 774px;
    width: 174px;height: 63px;
    background: transparent;
    border:none;
}
.selectPlane #style{
    position: absolute;
    left: 135px;
    top: 215px;
    width: 371px;height: 543px;
    color:#333;
    font-size:30px;
    text-align:center;
    line-height:300px;
}

.upDownload{
    display: none;
    z-index: 999;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}
.upDownload .screenShot{
    width:100%;height: 850px;
    margin: 0 auto;
    background-color:white;
    vertical-align: middle;
}
.upDownload .index-2_1_2{
    position: absolute;
    left: 150px;
    bottom: 23.8px;
}
.upDownload .index-2_1_3{
    position: absolute;
    right: 150px;
    bottom: 20px;
}
.upDownload .index-2_1_4{
    position: absolute;
    right: 284px;
    bottom: 80px;
    width: 70px;
}
.upDownload .screenShot #img1{
    width: 100%;
    height: 100%;
}
.imgLoading{
    display: none;
    z-index: 999;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
}
.imgLoading label{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}
.progress {
    position: absolute;
    width: 90%;
    top: 45%;
    left: 5%;
    height: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    display: none;
    /* background-color: #f5f5f5; */
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar-success {
    background-color: white;
}
.imgLoading .progress-bar {
    height: 100%;
    width: 0;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.makingLoading{
    display: none;
    z-index: 999;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
}
.makingLoading label{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.hideIframe{
    display: none;
    z-index: 999;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;
}
.hideIframe img{
    right: 10px;
    top: 20px;
    transform: scale(1.5);
    transform-origin: right top;
    position: absolute;
}
.tipIframe{
    /*display: none;*/
    z-index: 999;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    height: 100%;
}
.tipIframe label{
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    background-color: rgba(245,245,245,0.95);
    width:80%;
    text-align: center;
    line-height:150%;
    font-size: 36px;
    border-radius: 12px;
    color: #333;
    padding:10px 8px;
}
.tipIframe label span{
    display:block;
    text-align:center;
    font-size:26px;
    color:#666;
    padding-top:14px;
    line-height:130%;
}

.Scales{
    animation-name:Scales;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes Scales{
    0%{transform: scale(1);}
    100%{transform: scale(1.1);}
}

